<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<h1>Write your name, age, and a message!</h1>
<form action="/" method="POST">
  Name:<br>
  <input type="text" name="name" value = "enter your name">
  <br>
  Age:<br>
  <input type="text" name="age" value="enter your age">
  <br>
  Quotes:<br>
  <input type="text" name="quote" value="enter your quote...">
  <br>
  <input type="submit" value="Submit">
</form>
<br>

<!-- Create your form here!
 -->
 
</body>
</html>